* {
    padding: 0;
    margin: 0;
     font-family: "Open Sans", sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
}
span{
    color:orange;
}
ul li a{
    text-decoration: none;
    color: black;
    opacity: 0.5;
}
.btn {
    padding: 0.8rem;
    background-color: #FD6E0A;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}


/* section 1 */


.section-1 {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.section-1-1stPart {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.section-1-1stPart > p:first-of-type{
    font-size: 40px;
}
.section-1-1stPart > p:last-of-type{
    opacity: 0.5;
}
.section-1-1stPart .two-btn >button:first-of-type {
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.section-1-1stPart .two-btn >button:last-of-type {
    color: #FD6E0A;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid;
    cursor: pointer;
}
.section-1-1stPart h2{
    font-size: 50px;
}

.section-1-2ndPart img {
    width: 584px;
    height: 629px;
}



/* section-2 */


.section-2 {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width:1000px;
    padding: 50px;
}

.section-2-thirdPart {
    display: flex;
    justify-content: space-between;
}



/* section-3 */

.section-3 {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-3 .card {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}
.icon-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid;
    padding: 20px;
}
.section-3 .para {
    width: 1000px;
    margin: auto;
}

/* section-4 */

.section-4 {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 50px;
}
.section-4 h4{
   font-size: 25px;
}
.main-section-title{
    text-align: center;
    
}
.container-div {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.container-div-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}
.container-div-left hr{
    opacity: 0.5;
}
.container-div-leftPart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container-div-leftPart h5 {
    font-size: 15px;
}
.container-div-leftPart >p:first-of-type {
    font-size: 13px;
}
.container-div-leftPart >p:last-of-type {
    font-size: 10px;
}

.container-div-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}
.container-div-right hr{
    opacity: 0.5;
}
.container-div-rightPart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container-div-rightPart h5 {
    font-size: 15px;
}
.container-div-rightPart >p:first-of-type {
    font-size: 13px;
}
.container-div-rightPart >p:last-of-type {
    font-size: 10px;
}
.section-4-btn {
    margin-left: 500px;
    margin-top: 50px;
}